@import url('https://fonts.googleapis.com/css?family=Domine');

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;

}

.weather-box {
  min-width: 250px;
}

h1, h2, h3 {
  font-family: 'Domine', serif;
}

.wi-day-sunny {
  color: black;
  font-size: 70px;
}
